<div class='dashboard'>
  <div class="dashboard-nav ">
    <header>
      <a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a><a href="#"
                                                                         class="brand-logo">
        <i class="bi bi-book text-danger"></i> <span class="text-danger">KATHABOOK</span>
      </a>
    </header>
    <nav class="dashboard-nav-list">
      <a href="#" class="dashboard-nav-item text-black mx-1" style="border:1px solid;border-radius:5px">
        <i class="bi bi-person-circle text-black" style="font-size:35px"></i> &nbsp;&nbsp; <b>User</b>
      </a>
      <a href="#" class="dashboard-nav-item text-black">
        <i class="bi bi-house text-black"></i> <b>Home</b>
      </a>
      <a href="#" class="dashboard-nav-item text-black"><i class="bi bi-cash text-black"></i><b>Money</b></a>
      <a href="#" class="dashboard-nav-item text-black" routerLink="/account-settings"><i class="bi bi-gear text-black"></i><b>Account Settings</b></a>
      <a href="#" class="dashboard-nav-item text-black"><i class="bi bi-info-circle text-black"></i> <b>About Us</b></a>
    </nav>
  </div>

</div>
